[Unit]
Description=Show Plymouth-lite Boot Screen on FBTFT
After=systemd-modules-load.service
ConditionPathExists=/dev/fb1

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/plymouth-lite.conf
ExecStart=/bin/sh -c 'FRAMEBUFFER=/dev/fb1 /usr/bin/ply-image ${FBTFT_SPLASH_START}'
ExecStop=/bin/sh -c 'FRAMEBUFFER=/dev/fb1 /usr/bin/ply-image ${FBTFT_SPLASH_STOP}'

[Install]
WantedBy=multi-user.target

